.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 16px;
  padding: 24px;
  margin: 16px 16px 16px 0;
  background: #1f1f1f;
  border: 1px solid #303030;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #1f1f1f;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #434343;
  }
}
